<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" "width=device-width, initial-scale=1">
        <title>Top Anime</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>

        <div class="header">
           <marquee behavior="alternate">
            <a class = "avatar" href="https://www.anime-planet.com/anime/watch-online" ><img src="https://stickershop.line-scdn.net/stickershop/v1/product/8453/LINEStorePC/main.png;compress=true" style="width: 15%;"  />
            </a>
            <div class="header-right"><h1>Welcome to Anime's World</h1> </marquee></div>  
        </div>
          
        <div class="topnav">
            <a href="anime1.html">Home</a>
            <a href="topanime.html">Top Anime</a>
            <a href="aboutUs.html">About us</a>
            <a href="signin">Sign in</a>
            <a href="search.html">Search</a>
        </div>

        <div id="app">
            <div class="container">
          
                <div v-for="(result, index) in results" :key ="result.mal_id">
                    <div v-if= "result.score > 8">
                    <div class = fonttitle><a v-bind:href="result.url"> ID : {{ result.mal_id}} - {{ result.title }} </a></div>
                    
                    <div class="more">
                        <div class="tooltip">
                           
                            <div class ="poster"><img :src="result.image_url">
                            <div class="click">
                                <p>Rated : {{ result.rated }}</p>  
                            </div>
                            </div>

                            <span class="tooltiptext">
                                <p>{{ result.title }}  Score : {{result.score }}/10 - Genres :{{result.type}} </p>    
                            </span>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
    
        </div> 

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src = "anime.js"></script>

    </body>
    <footer>
        <h3>Copyright © 2022 Anime All Rights Reserved</h3>
    </footer>
</html>